app:
  title: Backstage
  baseUrl: http://localhost:3000

  # Enable all packages by default, this will discover packages from packages/app/package.json
  packages: all

  extensions:
    $include: ./app-config-layout.yaml

organization:
  name: My Company

backend:
  auth:
    dangerouslyDisableDefaultAuthPolicy: true
  # Used for enabling authentication, secret is shared by all backend plugins
  # See https://backstage.io/docs/auth/service-to-service-auth for
  # information on the format
  # auth:
  #   keys:
  #     - secret: ${BACKEND_SECRET}
  baseUrl: http://localhost:7007
  listen:
    port: 7007
    # Uncomment the following host directive to bind to specific interfaces
    # host: 127.0.0.1
  csp:
    connect-src: ["'self'", 'http:', 'https:']
    script-src: [ "'self'", "'unsafe-eval'", "'unsafe-inline'" ]
    imgSrc: ["'self'", "data:", "*"]
    frame-src: ["'self'", "*"]
    # Content-Security-Policy directives follow the Helmet format: https://helmetjs.github.io/#reference
    # Default Helmet Content-Security-Policy values can be removed by setting the key to false
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  # This is for local development only, it is not recommended to use this in production
  # The production database configuration is stored in app-config.production.yaml
  database:
    client: better-sqlite3
    connection: ':memory:'

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

techdocs:
  builder: 'local' # Alternatives - 'external'
  generator:
    runIn: 'local' # Alternatives - 'local'
  publisher:
    type: 'local' # Alternatives - 'googleGcs' or 'awsS3'. Read documentation for using alternatives.

auth:
  # see https://backstage.io/docs/auth/ to learn about auth providers
  providers:
    # See https://backstage.io/docs/auth/guest/provider
    guest: {}
#    github:
#      development:
#        clientId: ${AUTH_GITHUB_CLIENT_ID}
#        clientSecret: ${AUTH_GITHUB_CLIENT_SECRET}

scaffolder:
# see https://backstage.io/docs/features/software-templates/configuration for software template options

catalog:
  processingInterval: { minutes: 5 }
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location, User, Group]
  locations:
    $include: ./app-config-catalogs.yaml

kubernetes:
  # see https://backstage.io/docs/features/kubernetes/configuration for kubernetes configuration options

permission:
  # setting this to `false` will disable permissions
  enabled: true

techRadar:
  url: "https://github.com/goafabric/example-konstruction-kit/blob/develop/helm/infra/techradar/data/config-backstage.json"
