services:
  application:
    container_name: ${_Values_root_name}-application
    image:  ${_Values_image_repository}${_Values_image_native}:${_Values_image_tag}
    restart: 'no'
    ports:
      - "${_Values_service_port}:${_Values_service_port}"

    volumes:
      - tmp:/tmp
      - applogs:/usr/share/logs
    networks:
      - ${_Values_root_name}-net
    environment:
      #application
      TZ: Europe/Berlin
      ARGOCD_AUTH_TOKEN: ${ARGOCD_AUTH_TOKEN}

  nginx:
    container_name: ${_Values_root_name}-nginx
    image: nginx:1.28-alpine3.21
    restart: 'no'
    ports:
      - "8080:80"
      - "443:443"
    networks:
      - ${_Values_root_name}-net
    volumes:
      - ./nginx/nginx${_Values_nginx_oidc}.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl/:/etc/ssl/
    depends_on:
      application:
        condition: service_started

  oauth2-proxy:
    container_name: ${_Values_root_name}-oauthproxy
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.4.0
    command:
      - --email-domain=*
    #      - --scope "user:email"
    restart: 'no'
    ports:
      - "4180:4180"
    environment:
      #application
      TZ: Europe/Berlin

      # oauth2proxy generic config
      OAUTH2_PROXY_UPSTREAM: "file:///dev/null"
      OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
      OAUTH2_PROXY_REVERSE_PROXY: "true"
      OAUTH2_PROXY_SET_XAUTHREQUEST: "true"

      OAUTH2_PROXY_SKIP_PROVIDER_BUTTON: "true"

      # oauth2proxy provider config
      OAUTH2_PROXY_PROVIDER: "github"
      OAUTH2_PROXY_CLIENT_ID: ${AUTH_DOCKER_GITHUB_CLIENT_ID}
      OAUTH2_PROXY_SCOPE: "user:email"

      #OAUTH2_PROXY_COOKIE_SECURE: false

      # secrets
      OAUTH2_PROXY_CLIENT_SECRET: ${AUTH_DOCKER_GITHUB_CLIENT_SECRET}
      # docker run -ti --rm python:3-alpine python -c 'import secrets,base64; print(base64.b64encode(base64.b64encode(secrets.token_bytes(16))));'
      OAUTH2_PROXY_COOKIE_SECRET: SvJIUgqBKxOYSxJwFREiOg==

      # urls
      OAUTH2_PROXY_REDIRECT_URL: "https://localhost/oauth2/callback"

    networks:
      - ${_Values_root_name}-net
volumes:
    tmp:
    applogs:

networks:
  backstage-net:
    driver: bridge